<nav>
    <h1>CSAMS</h1>
    <ul>
      <li><a data-text="User" href="/user">User</a></li>
      <li><a data-text="Department" href="/department">Department</a></li>
      <li><a data-text="Category" href="/category">Category</a></li>
      <li><a data-text="Material" href="/Material">Material</a></li>
      <li  class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i id="bell" class="fa fa-bell"></i>
      </a>
      <div class="dropdown-menu" id="drop-down" aria-labelledby="navbarDropdown">
      </div>
    </li>
      <li><a data-text="Logout" href="#" id="logout" >Logout</a></li>
  
    </ul>
  </nav>

  <script>
    $('#logout').click(function()
    {
      localStorage.removeItem('csams');
      window.location.href = '/'
    })
  </script>