<nav>
    <h1>CSAMS</h1>
    <ul>
      <li><a data-text="User" href="/user">User</a></li>
      <li><a data-text="Department" href="/department">Department</a></li>
      <li><a data-text="Category" href="/category">Category</a></li>
<li><a data-text="material" href="/material">Material</a></li>
      <li><a data-text="Logout" href="#" id="logout" >Logout</a></li>
  
    </ul>
  </nav>

  <script>
    $('#logout').click(function()
    {
      localStorage.removeItem('csams');
      window.location.href = '/'
    })
  </script>