<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Index</title>
</head>
<body>
  <%- include ('./partials/navbar.ejs') %>

  <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img class="img-fluid w-100" class="" src="images/landing.jpg">
        </div>
    </div>
    <div class="row mt-4 pb-3">
        <col-12>
            <h2 class="text-center">
                Cyber Security Awareness Management System (CSAMS)
            </h2>
            <p class="landing-description text-muted">
                Organizations should educate their employees to avoid attacks from social engineering, email
                phishing, etc. Continuous security awareness will make organizations instantly aware of security risks as
                well as their status in terms of employee security awareness. Therefore, Cyber Security
                Awareness Management System (CSAMS) : is cyber security awareness solution that are
                cybersecurity materials " videos - PDF files - etc" to keep the company safe. Moreover, All
                you teach or watch in your materials can be tested to to see whether you can find a way to
                quantify employee awareness.
            </p>
        </col-12>
    </div>
</div>



</body>
</html>