<%- include ('./partials/head.ejs') %>
    <!-- Embedded Javascreipt -->
    <title>Dashboard</title>

</head>
<body>
  <%- include ('./partials/mainNav.ejs') %>

  <div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img class="img-fluid w-100" class="" src="images/landing.jpg">
        </div>
    </div>
  </div>

</body>
</html>

